@media (min-width: 768px){
    #hamburger{
        display: none;
    }
    nav{
        display: flex;
        gap: 1rem;
        color: white;
        background-color: rgb(33, 37, 41);
        align-items: center;
        padding-left: 1rem;
    }
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex: 1;
    }
    
    li{
        display: inline-block;
    }
    
    a, a:visited{
        color: white;
        text-decoration: none;
    }
    
    select, button{
        color: white;
        outline: none;
        background: none;
        border: 0;
    }
    
    select{
        background-color: rgb(33, 37, 41);
    }
    
    li:nth-child(2) a, select{
        color: rgba(255, 255, 255, 0.5);
    }
    
    li button{
        color: rgba(255, 255, 255, 0.2);
    }
    
    form{
        margin: 0.5rem;
    }
    
    input{
        border-radius: 4px;
        border: 0;
        height: 2rem;
        outline: none;
    }
    
    form button{
        border-radius: 4px;
        height: 2rem;
        color: rgb(26, 123, 79);
        border: 1px solid rgb(26, 123, 79);
    }

    form button:hover{
        background-color: rgb(26, 123, 79);
        color: white;
    }

}

@media (max-width: 768px){
    ul, form{
        display: none;
    }
    nav{
        background-color: rgb(33, 37, 41);
        display: flex;
        gap: 1rem;
        padding: 1rem;
        align-items: center;
        color: white;
    }
}

